<form action="/square/results">
    <label for="x1">Enter a number
    </label>

    <input id="x1" type="text" placeholder="What number do you want to square?" name="y1">

    <button>Calculate square
    </button>
</form>